---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "utilities";



/**
 * Typography
 */

// Families: Bitter & Roboto Condensed
@import url(http://fonts.googleapis.com/css?family=Bitter:400,700,400italic|Roboto+Condensed:400,700);
$base-font-family: Bitter, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$heading-font-family: 'Roboto Condensed', serif;
$mono-font-family: Menlo, Consolas, Courier, monospace;

// Sizes
$base-font-size:     16px;
$base-line-height:   1;
$normal-font-size:   18px;
$normal-line-height: 1.75;
$small-font-size:    14px;
$small-line-height:  1.25;



/**
 * Colors
 */

$orange-color:     #ef653a;
$turquoise-color:  #1bb7b2;
$yellow-color:     #f6b854;
$blue-color:       #2e3c44;

// Grayscale
$white-color:      #ffffff;
$gray-color:       mix($white-color, $blue-color, 54%);
$gray-color-light: mix($white-color, $blue-color, 87%);
$gray-color-dark:  mix($white-color, $blue-color, 26%);
$black-color:      #000000;



/**
 * Layouts
 */

$mobile-layout: (
    columns:      2,
    column-width: 20em,
    gutter-width: 2em,
    grid-padding: 1.5em
);
$mobile-width: layout-outer-width($mobile-layout);
$mobile: "(max-width: #{$mobile-width})";

$desktop-layout: (
    columns:      12,
    column-width: 3em,
    gutter-width: 2em,
    grid-padding: 3em
);
$desktop-width: layout-outer-width($desktop-layout);
$desktop: "(min-width: #{$mobile-width})";

$spacing-unit: 1.5;



@import
        "reset",
        "base",
        "layout",
        "syntax-highlighting"
;
