<header class="header">

    <div class="header__inner">

        <a class="header__title" href="{{ site.baseurl }}/">{{ site.title }}</a>

        <nav class="header__nav">
            <ul class="header__nav__menu">
                <li><a href="{{ "/guide" | prepend: site.baseurl }}">User Guide</a></li>
                <li><a href="{{ "/api" | prepend: site.baseurl }}">API Docs</a></li>
                <li><a href="https://github.com/bustoutsolutions/siesta">Source</a></li>
            </ul>
        </nav>

        <hr>

    </div>

</header>
