*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color: $gray-color;
    font-family: $base-font-family;
    font-size: $base-font-size;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    line-height: $base-line-height;
    -webkit-text-size-adjust: 100%;
    background-color: $blue-color;
    @include background-image-retina('../images/grunge.png', '../images/grunge@2x.png', 1436px);
    background-position: center top;
    background-repeat: repeat;
    text-rendering: optimizeLegibility;
}



/**
 * Hyperlinks
 */

a {
    color: $turquoise-color;
    text-decoration: none;

    .icon > svg path {
        fill: $turquoise-color;
    }

    &:hover {
        color: lighten($turquoise-color, 20%);

        .icon > svg path {
            fill: lighten($turquoise-color, 20%);
        }
    }
}



/**
 * Headers
 */

h1, h2, h3, h4 {
    font-family: $heading-font-family;
}

h1 {
    color: $orange-color;
    @include adjust-font-size-to(44px, 3);
    letter-spacing: rhythm(-0.0625, 44px);
}

h2 {
    color: $orange-color;
    @include adjust-font-size-to(32px, 2);
    font-weight: bold;
    text-transform: uppercase;
}

h3 {
    color: $yellow-color;
    @include adjust-font-size-to(24px, 2);
    font-weight: bold;
}

h4 {
    color: $gray-color-light;
    @include adjust-font-size-to(20px, 1.5);
    font-weight: bold;
}


/**
 * Block Elements
 */

img {
    max-width: 100%;
    vertical-align: middle;
}

pre {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding: rhythm(grid-padding());
    background-color: rgba($black-color, 0.12);
}

table {
    margin: 0 !important;
    width: 100%;
    background: transparent !important;

    th, td {
        padding: rhythm(0.5);
    }

    th {
        background-color: rgba($black-color, 0.12);
    }

    td {
        border-bottom: 1px solid mix($black-color, $blue-color, 12%);
    }
}

.table-container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

hr {
    margin: 0;
    height: 1em;
    @include background-image-retina('../images/horizontal-rule.png', '../images/horizontal-rule@2x.png', 1440px);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}



/**
 * Inline Elements
 */

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

code {
    color: $gray-color-light;
    @include adjust-font-size-to(15px, 1.5);
    font-family: $mono-font-family;

    p &,
    li & {
        padding: 2px 4px;
        background-color: rgba($black-color, 0.12);
    }
}

small {
    font-size: $small-font-size;
}


/**
 * Custom Elements
 */

%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.label {
    display: block;
    margin-bottom: rhythm(0.75, $small-font-size);
    color: $gray-color-dark;
    font-family: $heading-font-family;
    @include adjust-font-size-to($small-font-size, $small-line-height);
    font-weight: bold;
    text-transform: uppercase;
}

.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: top;

        path {
            fill: $gray-color;
        }
    }
}

.link-list {
    li {
        margin-bottom: rhythm(0.5);
    }
}



/**
 * Content Blocks
 */

.content {
    h1 {
        margin: rhythm($spacing-unit * 2, 44px) 0 rhythm($spacing-unit * 1.5, 44px);

        &:first-child {
            margin-top: 0;
        }
    }

    h2 {
        margin: rhythm($spacing-unit * 3, 32px) rhythm(grid-padding() * -1, 32px) rhythm($spacing-unit * 1.5, 32px);
        padding: rhythm(1, 32px) rhythm(1.5, 32px) 0;
        border-top: 2px solid $orange-color;
    }

    h3 {
        margin: rhythm($spacing-unit * 1.5, 24px) 0 rhythm($spacing-unit, 24px);
    }

    h4 {
        margin-bottom: rhythm($spacing-unit, 24px);
    }

    p, li, dd {
        @include adjust-font-size-to($normal-font-size, $normal-line-height);

        strong {
            color: $gray-color-light;
        }
    }

    p {
        margin-bottom: rhythm($spacing-unit, $normal-font-size);
    }

    ul, ol, dl, pre {
        margin-bottom: rhythm($spacing-unit);
    }

    table {
        margin-bottom: rhythm($spacing-unit) !important;
    }

    .table-container {
        margin: {
            left: rhythm(grid-padding()) * -1;
            right: rhythm(grid-padding()) * -1;
        };

        th, td {
            &:first-child {
                padding-left: rhythm(grid-padding());
            }

            &:last-child {
                padding-right: rhythm(grid-padding());
            }
        }
    }

    ul, ol {
        padding-left: rhythm(2);

        ul, ol {
            margin-bottom: 0;
        }
    }

    ul {
        list-style: disc outside;
    }

    ol {
        list-style: decimal outside;
    }

    pre, .guide-next {
        margin: {
            left: rhythm(grid-padding()) * -1;
            right: rhythm(grid-padding()) * -1;
        };
    }

    p.guide-next {
        margin: {
            top: rhythm($spacing-unit * 2, $normal-font-size);
            left: rhythm(grid-padding() * -1, $normal-font-size);
            right: rhythm(grid-padding() * -1, $normal-font-size);
        };
        padding: rhythm(1, $normal-font-size) rhythm(grid-padding(), $normal-font-size) 0;
        border-top: 2px solid rgba($black-color, 0.12);
    }
}
