%container {
    margin: {
        left: auto;
        right: auto;
    };
    padding: {
        left: map-get($mobile-layout, grid-padding);
        right: map-get($mobile-layout, grid-padding);
    };

    /* Breakpoints */

    @include breakpoint($desktop, $desktop-layout) {
        padding: {
            left: map-get($desktop-layout, grid-padding);
            right: map-get($desktop-layout, grid-padding);
        };
        max-width: $desktop-width;
    }
}



/**
 * Header
 */

.header {
    padding-top: rhythm($spacing-unit * 2);
    @include background-image-retina('../images/pattern.png', '../images/pattern@2x.png', 138px);
    background-repeat: repeat-x;

    &__inner {
        @extend %container;
    }

    &__title {
        margin: 0 auto rhythm($spacing-unit);
        display: block;
        height: 88px;
        width: 256px;
        @include background-image-retina('../images/logo.png', '../images/logo@2x.png', 256px);
        background-repeat: no-repeat;
        text-indent: -9999px;
    }

    &__nav {
        margin-bottom: rhythm($spacing-unit);
        text-align: center;

        &__menu {
            @extend %clearfix;
            display: inline-block;

            li {
                float: left;
                color: $orange-color;
                font-weight: bold;
                text-transform: uppercase;

                &:after {
                    content: '♦';
                }

                &:last-child:after {
                    content: '';
                }
            }

            a {
                margin: 0 rhythm(0.375, $small-font-size);
                @include adjust-font-size-to($small-font-size, $small-line-height);
            }

            li:first-child a {
                margin-left: 0;
            }

            li:last-child a {
                margin-right: 0;
            }

            .icon > svg {
                margin-top: 3px;
                height: $small-font-size;
                width: $small-font-size;
            }
        }
    }

    hr {
        margin: 0 rhythm(grid-padding() * -1);
    }

    /* Breakpoints */

    @include breakpoint($mobile-wide) {
        &__nav {
            &__menu {
                a {
                    margin: 0 rhythm(0.75, $small-font-size);
                }
            }
        }
    }

    @include breakpoint($desktop, $desktop-layout) {
        padding-top: rhythm($spacing-unit * 3);

        &__nav {
            margin-bottom: rhythm($spacing-unit * 2);

            &__menu {
                a {
                    margin: 0 rhythm(1, $normal-font-size);
                    @include adjust-font-size-to($normal-font-size, $normal-line-height);
                }

                .icon > svg {
                    margin-top: 4px;
                    height: $normal-font-size;
                    width: $normal-font-size;
                }
            }
        }

        hr {
            margin: 0;
        }
    }
}



/**
 * Main
 */

.main {
    @extend %container;
    overflow: hidden;
    padding: {
        top: rhythm($spacing-unit * 2);
        bottom: rhythm($spacing-unit * 2);
    };

    #siesta {
        display: none;

        + p {
            padding: rhythm(0.125, $normal-font-size) rhythm(0.625, $normal-font-size) 0;
            text-align: center;
            background-color: $yellow-color;

            &, strong {
                color: $blue-color;
            }
        }
    }

    hr {
        display: none;
    }

    /* Breakpoints */

    @include breakpoint($desktop, $desktop-layout) {
        &__inner {
            padding: {
                left: columns(1) + gutter();
                right: columns(1) + gutter();
            };
        }
    }
}



/**
 * Footer
 */

.footer {
    @extend %container;
    padding-bottom: rhythm($spacing-unit);

    hr {
        margin: 0 rhythm(grid-padding() * -1);
    }

    &__main {
        @extend %clearfix;
        padding-top: rhythm($spacing-unit);
    }

    &__content {
        margin-bottom: rhythm($spacing-unit);
    }

    .bust-out-solutions {
        height: 51px;
        width: 192px;
    }

    /* Breakpoints */

    @include breakpoint($desktop, $desktop-layout) {
        padding-bottom: rhythm($spacing-unit * 2);

        hr {
            margin: 0;
        }

        &__content {
            margin-bottom: 0;
            @include span(7);
            padding-left: columns(1) + gutter();
        }

        &__aside {
            @include span(map-get($desktop-layout, columns) - 7);
            margin-right: 0;
            padding-right: columns(1) + gutter();
        }
    }
}
