$base03:    darken($gray-color, 30%);
$base02:    darken($gray-color, 15%);
$base01:    $gray-color;
$base00:    $gray-color;
$base0:     $gray-color;
$base1:     $gray-color;
$base2:     lighten($gray-color, 15%);
$base3:     lighten($gray-color, 30%);
$yellow:    $yellow-color;
$orange:    $orange-color;
$red:       #c13814;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      $turquoise-color;
$green:     #859900;

.highlight {
    color: $base00;

    .emphasized { color: $base01; font-weight: bold; }

    // Style for line numbers
    .linenos { color: $base1; }

    .bp { color: $base1; } // Name.Builtin.Pseudo
    .c { color: $base1; font-style: italic } // Comment
    .c1 { color: $base1; font-style: italic } // Comment.Single
    .cm { color: $base1; font-style: italic } // Comment.Multiline
    .cp { color: $red; font-weight: bold } // Comment.Preproc
    .cs { color: $base1; font-weight: bold; font-style: italic } // Comment.Special
    .err { color: $base00; background-color: $red; } // Error
    .gd .x { color: $base00; background-color: $magenta; } // Generic.Deleted.Specific
    .gd { color: $base00; background-color: $magenta; } // Generic.Deleted
    .ge { font-style: italic; } // Generic.Emph
    .gh { color: $base1; } // Generic.Heading
    .gi .x { color: $base00; background-color: $base2; } // Generic.Inserted.Specific
    .gi { color: $green; background-color: $base2; } // Generic.Inserted
    .go { color: $base00; } // Generic.Output
    .gp { color: $base01; } // Generic.Prompt
    .gr { color: $base00; background-color: $red; } // Generic.Error
    .gs { @extend .emphasized; } // Generic.Strong
    .gt { color: $red; background-color: $base2; } // Generic.Traceback
    .gu { color: $base01; } // Generic.Subheading
    .il { color: $magenta; } // Literal.Number.Integer.Long
    .k { color: $blue; font-weight: bold; } // Keyword
    .kc { @extend .emphasized; } // Keyword.Constant
    .kd { @extend .emphasized; } // Keyword.Declaration
    .kp { @extend .emphasized; } // Keyword.Pseudo
    .kr { @extend .emphasized; } // Keyword.Reserved
    .kt { color: $blue; font-weight: bold } // Keyword.Type
    .m { color: $magenta; } // Literal.Number
    .mf { color: $magenta; } // Literal.Number.Float
    .mh { color: $magenta; } // Literal.Number.Hex
    .mi { color: $magenta; } // Literal.Number.Integer
    .mo { color: $magenta; } // Literal.Number.Oct
    .n { color: $base01; } // Name
    .na { color: $base1; } // Name.Attribute
    .nb { color: $cyan; } // Name.Builtin
    .nc { color: $blue; font-weight: bold } // Name.Class
    .ne { color: $blue; font-weight: bold } // Name.Exception
    .nf { color: $blue; font-weight: bold } // Name.Function
    .ni { color: $base0; } // Name.Entity
    .nl { color: $green; }
    .nn { color: $orange; } // Name.Namespace
    .no { color: $yellow; } // Name.Constant
    .nt { color: $blue; font-weight: bold; } // Name.Tag
    .nv { color: $yellow; } // Name.Variable
    .p { color: $base01; } // Parentheses
    .o { color: $violet; } // Operator
    .ow { font-weight: bold } // Operator.Word
    .s { color: $cyan; } // Literal.String
    .s1 { color: $cyan; } // Literal.String.Single
    .s2 { color: $cyan; } // Literal.String.Double
    .sb { color: $cyan; } // Literal.String.Backtick
    .sc { color: $cyan; } // Literal.String.Char
    .sd { color: $cyan; } // Literal.String.Doc
    .se { color: $cyan; } // Literal.String.Escape
    .sh { color: $cyan; } // Literal.String.Heredoc
    .si { color: $cyan; } // Literal.String.Interpol
    .sr { color: $green; } // Literal.String.Regex
    .ss { color: $magenta; } // Literal.String.Symbol
    .sx { color: $red; } // Literal.String.Other
    .vc { color: $yellow; } // Name.Variable.Class
    .vg { color: $yellow; } // Name.Variable.Global
    .vi { color: $yellow; } // Name.Variable.Instance
    .w { color: $base2; } // Text.Whitespace
}
